p{
    margin-bottom: 0;
    color: #666;
}
ul{
    padding: 0;
}
ul.list-group{
    width: 94%;
    margin: 20px auto;
}
a:focus{
    text-decoration: none;
}
html,body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    color: #666;
}

a{
    color: #666;
}
a:focus{
    color: #666;
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.margin-auto{
    margin: 0 auto;
}
.form-box{
    width: 92%;
    display: block;
    margin: 0 auto;
}
.form-box input,.form-box select{
    border: 1px solid #eeeeee;
}
ul li{
    list-style: none;
}
.red-a{
    color: #ff7300;
}.red-a:focus{
     color: #ff7300;
 }
.row{
    width: 100%;
    padding: 0;
    margin: 0;
}
/*.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{*/
    /*padding: 0;*/
/*}*/
.box{
    width: 100%;
    height: auto;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 50px;
    position: relative;
}
.box .switch-mode-btn{
    position: absolute;
    top: 15px;
    left: 52px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.box .switch-mode-box{
    position: absolute;
    top: 15px;
    right: 17px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}
.box .switch-mode-box .switch-mode-img{
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url("../../upload/header-right-icon.png")no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 10px;
}
.box .switch-mode-box .switch-mode-img1{
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url("../../upload/switch-mode-imgmall.png")no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-right: 10px;
}
.box .switch-mode-icon{
    width: 20px;
    height: 21px;
    display: inline-block;
    background: url("../../upload/switch-mode-icon.png")no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 17px;
    top: 15px;
}
.clear{
    clear: both;
}

.clear-fix{
    zoom: 1;
}

.clear-fix:after{
    content: "";
    display: block;
    clear: both;
}
/*弹窗*/
.bomb-box{
    width: 100%;
    height: 100%;
}
.bomb-bg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top:0;
    z-index: 999;
}
.prompt-area{
    width:223px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -112px;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 6px;
    z-index: 999;
}
.prompt-area h3{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    font-weight: normal;
}
.prompt-area p{
    font-size: 12px;
    color: #333;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    line-height: 18px;
    width: 90%;
    margin-left: 5%;
}
.bomb-btn{
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #E3E2E2;
    margin-top: 12px;
}
.bomb-btn li{
    font-size: 12px;
    color: #333;
    width: 50%;
    float: left;
    text-align: center;
    line-height: 24px;
    margin: 6px 0;
}
.bomb-btn li:first-child{
    border-right: 1px solid #E3E2E2;
}
.confirm-style{
    display: block;
    width: 90%;
    border-top: 1px solid #E3E2E2;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    margin: 6px auto;
    margin-top: 12px;
    padding-top: 6px;
}
.prompt1 .prompt-area p{
    margin-top: 16px;
}

.prompt-area i{
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../upload/success-icon_03.jpg?v=2017-05-31");
    background-size: 100% 100%;
    margin: 10px auto;
    margin-top: 18px;
}
.prompt-success .prompt-area{
    padding-bottom: 14px;
    width: 166px;
    margin-left: -83px;
}
.bomb-box2{
    width: 100%;
    height: 100%;
    display: none;
}
.bomb-bg2{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    left: 0;
    top:0;
    z-index: 999;
}
.bomb-box2 i.prompt-alpay{
    width: 100%;
    height: 255px;
    display: block;
    background: url("../../upload/prompt-alpay_02.png?v=2017-05-31");
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.bomb-box2 a{
    width: 120px;
    height: 32px;
    background: #febc4b;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    display: block;
    position: absolute;
    left: 50%;
    top: 255px;
    z-index: 9999;
    margin-left: -60px;
}
/*loading*/
.loading{
    width: 100%;
    height: 100%;
}
.loading-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 9;
}
.loading-area{
    width: 40%;
    height: 120px;
    position: fixed;
    left: 30%;
    top: 50%;
    margin-top: -60px;
    background: #fff;
    border-radius: 5px;
    z-index: 9999;
}
.loading-area img{
    width: 80px;
    height: auto;
    margin: 24px auto;
    display: block;
}
.star ul li{
    width: 14px;
    height: 14px;
    background: url("../../upload/star-icon5_09.jpg?v=20171019");
    background-size: 100% 100%;
    float: left;
    margin-left: 3px;
}
.star ul li.evaluate-score-star1{
    background: url("../../upload/star-icon1_07.jpg?v=20171019");
    background-size: 100% 100%;
}
.star ul li.evaluate-score-star2{
    background: url("../../upload/star-icon2.jpg?v=20171019");
    background-size: 100% 100%;
}
.star ul li.evaluate-score-star4{
    background: url("../../upload/star-icon4.jpg?v=20171019");
    background-size: 100% 100%;
}
.star ul li.evaluate-score-star5{
    background: url("../../upload/star-icon5.jpg?v=20171019");
    background-size: 100% 100%;
}
/*发票公用样式*/

.invoice-main{
    display: none;
    border-top: 1px solid #f5f5f5;
}

.invoice-normal{
    position: relative;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #f5f5f5;
    overflow: hidden;
}
.invoice-normal p{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    font-size:15px;
    line-height: 43px;
    color: #333;
    padding-left: 4px;
    z-index: 9;
}

.invoice-normal input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size:12px;
    line-height: 43px;
    color: #c2c2c2;
    border: none;
    outline: none;
    padding-left:85px;
}

.invoice-normal input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.invoice-main a{
    display: block;
    font-size:16px;
    line-height: 41px;
    color: #48a2d2;
}
/*没有更多数据*/
.no-more p {
    width:100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: #999;
    font-size: 12px;
}
.side-btn{
    width: 48px;
    height: 172px;
    position: fixed;
    right: 5px;
    top:230px;
    z-index: 999999;
}
.side-btn span{
    display: block;
    width: 19px;
    height: 18px;
    margin: 0 auto;
    background-size: 100%;
    margin-top: 8px;
}
.side-btn p{
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-top: 3px;
}
.online{
    width: 48px;
    height: 48px;
    float: right;
    margin-top: 9px;
    border-radius: 5px;
    background: rgba(66,182,231,0.8);
    cursor: pointer;
}
.online span {
    background-image: url(../../upload/call-icon817_33.png?v=20170817);
}
.telephone{
    width: 48px;
    height: 48px;
    float: right;
    margin-top: 9px;
    border-radius: 5px;
    background: rgba(66,182,231,0.8);
}
.telephone span {
    background-image: url(../../upload/call-icon2-817_35.png?v=20170817);
}
.back-top{
    width: 46px;
    height: 46px;
    float: right;
    margin-top: 9px;
    border-radius: 5px;
    background: rgba(255,255,255,0.7);
    border: 1px solid #22b0eb;
    display: none;
}
.back-top span{
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    background-size: 100% 100%;
}
.footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 666;
    height: 50px;
    background: #222222;
}
.footer ul{
    display: none;
}
.footer ul li{
    display: block;
    width: 33%;
}
.footer ul li i{
    display: block;
    width: 20px;
    height: 22px;
    margin: 0 auto;
    margin-top: 6px;
}
.footer ul li span{
    font-size: 11px;
    color: #999;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 4px;
}
.footer ul li i.home-icon1{
    background-image: url("../../upload/footer2_10 (2).png?v=2017-05-31");
    background-size: 100% 100%;
}
.footer ul li i.category-icon1{
    background-image: url("../../upload/footer_05.png?v=2017-05-31");
    background-size: 100% 100%;
}
.footer ul li i.car-icon1{
    background-image: url("../../upload/dongtai.png");
    background-size: 100% 100%;
}
.footer ul li i.my-icon1{
    background-image: url("../../upload/footer_10.png?v=2017-05-31");
    background-size: 100% 100%;
}
.footer ul li.active-footer span{
    color: #fff;
}
.footer ul li.active-footer i.home-icon1{
    background-image: url("../../upload/footer_03.png?v=2017-05-31");
    background-size: 100% 100%;
}
.footer ul li.active-footer i.category-icon1{
    background-image: url("../../upload/footer2_10 (3).png?v=2017-05-31");
    background-size: 100% 100%;
}
.footer ul li.active-footer i.car-icon1{
    background-image: url("../../upload/dongtai-active.png");
    background-size: 100% 100%;
}
.footer ul li.active-footer i.my-icon1{
    background-image: url("../../upload/footer2_10 (1).png?v=2017-05-31");
    background-size: 100% 100%;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .footer {
        padding-bottom: 34px !important;
    }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .footer {
        height: 76px;
        padding-bottom: 34px !important;
    }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3){
    .footer {
        height: 76px;
        padding-bottom: 34px !important;
    }
}
/*顶部搜索*/
.public-head-one{
	width: 100%;
	height: 44px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.public-head-logo{
	float: left;
	width: 100px;
	height: 44px;
	padding: 7px 0;
	margin-left: 16px;
}
.public-head-logo a{
	display: block;
	width: 100%;
	height: 100%;
}
.public-head-logo a img{
	width: 100%;
}
.public-head-phone{
	float: left;
	padding: 10px 0;
	margin-left: 20px;
}
.public-head-phone a{
	display: block;
	font-size: 17px;
	line-height: 24px;
	color:#22b0eb;
	background-size: 22px 22px;
	padding-left: 30px;
}
.public-head-search{
	float: right;
	padding: 12px 0;
	margin-right: 19px;
}
.public-head-search p{
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.public-head-order{
	float: right;
	padding: 12px 0;
	margin-right: 15px;
}
.public-head-order a{
	position: relative;
	display: block;
	width: 16px;
	height: 20px;
	background: url('../../upload/header-my-oeder.png') no-repeat;
	background-size: 16px 20px;
}
.public-head-order a i{
    width: 6px;
    height: 6px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    right: -6px;
    top: -4px;
}

.public-head-two{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	z-index: 5;
}

.public-head-two-search{
	float: left;
	width: 80%;
	padding: 6px 0;
	margin-left: 16px;
}
.public-head-two-search p{
	width: 100%;
	height: 32px;
	background:#f8f8f8;
	border:1px solid #eee;
	border-radius:16px;
	padding: 5px 0 5px 21px;
}
.public-head-two-search p i{
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	background: url('../../upload/public-head-search.png') no-repeat;
	background-size: 20px 20px;
	margin-right: 11px;
}
.public-head-two-search p span{
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #888;
}
.public-head-two-phone{
	float: right;
	padding: 11px 0;
	margin-right: 16px;
}
.public-head-two-phone a{
	display: block;
	width: 22px;
	height: 22px;
	background: url('../../upload/public-head-phone-icon.gif') no-repeat;
	background-size: 22px 22px;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
	.public-head-logo{
		margin-left: 10px;
	}
	.public-head-phone a{
		padding-left: 25px;
	}
	.public-head-order{
		margin-right: 10px;
	}
	.public-head-serch{
		margin-right: 10px;
	}
}


/*搜索弹窗*/
.search-section{
    width: 100%;
	height: 54px;
	background: #fff;
	border-bottom: 10px solid #efeff4;
}

.search-section .form-group{
	position: relative;
    float: left;
    width: 80%;
    padding: 6px 0;
    margin: 0;
    margin-left: 16px;
}

.search-section .form-group input{
    width: 100%;
    height: 32px;
    font-size: 12px;
    line-height: 30px;
    color: #888;
    background: #f8f8f8;
    border: 1px solid #22b0eb;
    border-radius: 16px;
    padding: 0 0 0 52px;
    outline: none;
}

.search-section .form-group input:-webkit-autofill{
	box-shadow: 0 0 0px 1000px white inset !important;
}

.search-section .form-group i{
	display: block;
	position: absolute;
	top: 12px;
	left: 20px;
    width: 20px;
    height: 20px;
	background: url('../../upload/public-head-search.png') no-repeat;
    background-size: 20px;
}

.back-on{
	float: right;
	padding: 13px 0;
	margin-right: 16px;
}
.back-on a{
	font-size: 14px;
	line-height: 18px;
	color: #888;
}
.search-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background: #f8f8f8;
    display: none;
    z-index: 99999;
}
/*搜索页*/
.search-main{
    padding: 16px 0 16px 15px;
}

.search-main p{
    font-size: 14px;
    line-height: 14px;
    color: #333;
    padding-bottom: 4px;
}

.search-main ul{
    width: 100%;
}

.search-main ul li{
    float: left;
    margin: 10px 10px 0 0;
    border: 1px solid #999;
}

.search-main li a{
    display: block;
    font-size: 10px;
    line-height: 22px;
    color: #666;
    padding: 0px 14px;
}

.search-main li a:hover,.search-main li a:focus{
    color: #666;
}

.search-images{
    position: fixed;
    left: 0;
    bottom: 50px;
}

.search-images .bottom-logo{
	margin-bottom: 0;
}
.bottom-logo{
    width: 100%;
    /*height: 127px;*/
    line-height: 77px;
    background: #eeeeee;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(51,51,51,0.25) inset;
    padding-bottom: 60px;
}
.bottom-logo img{
    width: 88.8%;
    display: block;
    margin: 0 auto;
    margin-top: 12px;
}

.open-online-chat,.mobile-index-phone {
    display: block;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
	.back-on{
		margin-right: 10px;
	}
}

/*返回首页*/
#back-homepage{
	position: fixed;
	top:55px;
	left: 15px;
	width: 48px;
	height:48px;
	z-index: 999;
}
.return-previous{
    position: fixed;
    top: 30px;
    left: 15px;
    width: 30px;
    height: 30px;
    display: inline-block;
    z-index: 666;
    background: url("../../upload/return-previous.png")no-repeat;
    background-size: 100% 100%;
}
#back-homepage a{
	display: block;
	width: 48px;
	height: 48px;
	background: url(../../upload/back-homepage-icon.png);
	background-repeat: no-repeat;
	background-size: 48px 48px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .footer {
        height: 76px;
    }
    .bottom-logo {
        /*height: 153px;*/
       padding-bottom: 86px;
    }
    .buy-footer {
        height: 76px;
    }
}
